@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 153 57% 99%;
        --foreground: 153 55% 5%;
        --muted: 123 15% 88%;
        --muted-foreground: 123 12% 28%;
        --popover: 153 57% 99%;
        --popover-foreground: 153 55% 5%;
        --card: 153 57% 99%;
        --card-foreground: 153 55% 5%;
        --border: 153 12% 91%;
        --input: 153 12% 91%;
        --primary: 153 69% 41%;
        --primary-foreground: 0 0% 100%;
        --secondary: 123 69% 41%;
        --secondary-foreground: 0 0% 100%;
        --accent: 183 69% 41%;
        --accent-foreground: 183 69% 1%;
        --destructive: 21 97% 31%;
        --destructive-foreground: 0 0% 100%;
        --ring: 153 69% 41%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 10.98%;
        --foreground: 153 33% 99%;
        --muted: 123 15% 12%;
        --muted-foreground: 123 12% 72%;
        --popover: 0 0% 13.73%;
        --popover-foreground: 153 33% 99%;
        --card: 0 0% 13.73%;
        --card-foreground: 153 33% 99%;
        --border: 153 12% 12%;
        --input: 153 12% 12%;
        --primary: 150.61 47.12% 40.78%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 21.03%;
        --secondary-foreground: 0 0% 100%;
        --accent: 132.72 38.05% 47.42%;
        --accent-foreground: 183 69% 1%;
        --destructive: 360 97% 54%;
        --destructive-foreground: 0 0% 98.89%;
        --ring: 153 69% 41%;
    }
}

@font-face {
    font-family: 'afacad';
    src: url('./style/fonts/afacad.ttf') format('truetype');
}

@layer base {
    * {
        @apply border-border text-sm font-body;
    }

    body {
        @apply bg-background text-foreground m-0 p-0 overflow-hidden;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    /* width */
    ::-webkit-scrollbar {
        @apply w-1;

    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-secondary;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-accent rounded-sm;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-primary;
    }

    /* Déplacer la barre de défilement vers la gauche */
    ::-webkit-scrollbar {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}