@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 249 64% 98%;
        --foreground: 249 60% 2%;
        --muted: 219 9% 88%;
        --muted-foreground: 219 10% 34%;
        --popover: 249 64% 98%;
        --popover-foreground: 249 60% 2%;
        --card: 249 64% 98%;
        --card-foreground: 249 60% 2%;
        --border: 249 11% 89%;
        --input: 249 11% 89%;
        --primary: 249 66% 25%;
        --primary-foreground: 249 66% 85%;
        --secondary: 219 66% 25%;
        --secondary-foreground: 219 66% 85%;
        --accent: 279 66% 25%;
        --accent-foreground: 279 66% 85%;
        --destructive: 5 100% 20%;
        --destructive-foreground: 5 100% 80%;
        --ring: 249 66% 25%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 249 60% 2%;
        --foreground: 249 26% 98%;
        --muted: 219 9% 12%;
        --muted-foreground: 219 10% 66%;
        --popover: 249 60% 2%;
        --popover-foreground: 249 26% 98%;
        --card: 249 60% 2%;
        --card-foreground: 249 26% 98%;
        --border: 249 11% 12%;
        --input: 249 11% 12%;
        --primary: 249 66% 25%;
        --primary-foreground: 249 66% 85%;
        --secondary: 219 66% 25%;
        --secondary-foreground: 219 66% 85%;
        --accent: 279 66% 25%;
        --accent-foreground: 279 66% 85%;
        --destructive: 5 100% 60%;
        --destructive-foreground: 0 0% 100%;
        --ring: 249 66% 25%;
    }
}

@font-face {
    font-family: 'afacad';
    src: url('./style/fonts/afacad.ttf') format('truetype');
}

@layer base {
    * {
        @apply border-border text-sm font-body;
    }

    body {
        @apply bg-background text-foreground m-0 p-0 overflow-hidden;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    /* width */
    ::-webkit-scrollbar {
        @apply w-1;

    }

    /* Track */
    ::-webkit-scrollbar-track {
        @apply bg-secondary;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        @apply bg-accent rounded-sm;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-primary;
    }

    /* Déplacer la barre de défilement vers la gauche */
    ::-webkit-scrollbar {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}